body {
  background-color: blanchedalmond;
  color: brown;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-width: 25vw;
  max-width: 100%;
  margin: 1.5% 10%;
}

h1,
h2 {
  font-family: Lato;
}

h1 {
  display: flex;
  justify-self: center;
  align-self: center;
  max-width: 80%;
}
